{% extends "block.html.twig" %}

{% block css %}

	<link rel="stylesheet" href="{{ asset('css/style2.css') }}">

{% endblock %}

{% block main %}
	<a href="{{ path('home') }}">Home</a>
	<a href="{{ path('play', {'age' : 18 } ) }}">Jouer</a>

	<div class="container">

		{% for article in articles %}
			<div class="article">
				<a href="{{ path('front_article_show', {'id' : article.id}) }}">
					<h2>{{ article.titre }}</h2>
				</a>
			</div>

		{% endfor %}
	</div>

	{# On remplit le "trou" du block avec ce code #}


{# 
								Exercice : 
								Chaque titre d'article doit être un lien vers 
								la route article_show qui affiche un article 
								séléctionné grâce à son id. 
																				
							 #}

	{# mettre du css dans ce fichier pour que cela ressemble à la page d'exemple 
															les titres des articles devront être de la couleur de "La Saga du Clone" #}
{% endblock %}
